body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #eae3fb, #d3f0ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333333;
    text-align: center;
    font-weight: 600;
}

.profile-picture-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #cccccc;
    border-radius: 50%;
    text-align: center;
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire circle */
}

.profile-picture .fa-user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(to right, #2980b9, #6dd5fa);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

.reset-password-link {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #007BFF;
    text-decoration: none;
    font-weight: 500;
}

.reset-password-link:hover {
    text-decoration: underline;
}
