body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #eae3fb, #d3f0ff);
}

.midDiv {
    position: relative;
    padding: 5px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    width: 95%;
}

.chat-box {
    height: 50vh;
    overflow-y: scroll;
    padding: 30px;
    background-color: whitesmoke;
    color: black;
    border-radius: 10px;
    height: 50vh;
}

.chat-box p {
    margin: 0 50px;
}

.chat-box::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

.chat-box::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scroll thumb */
    border-radius: 20px; /* Roundness of the scroll thumb */
}

.chat-box::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scroll track */
}

.clear-chat-container {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

#clear-chat-btn {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    outline: none;
    color: #666;
    transition: transform 0.3s ease-in-out;
}


#clear-chat-btn:hover {
    color: #333;
    transform: scale(1.2);
}

#bottomDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

#divform {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2vw;
    font-size: large;

}

#divform select {
    margin: 3vh 0;
    border: none;
    background-color: #F2F3F4;
    border-radius: 10px;
    padding: 0 5px;
}

#prmpt {
    background-color: #F2F3F4;
    width: 80vw;
    height: 8vh;
    border-radius: 10px;
    border: none;
    padding-left: 1%;
}

#btn {
    height: 40px;
    width: 50px;
}

#optionSelect {
    height: 40px;
    width: 150px;
}

#wordLimit,
#translate {
    height: 4vh;
    width: 6vw;
    font-size: 16px;
}

.input-with-button {
    position: relative;
    display: inline-block;
    margin-bottom: 2vw;
}

.input-with-button input[type="text"] {
    padding-right: 30px;
    font-size: medium;

}

.input-with-button #send-btn {
    background-color: transparent;
    overflow: hidden;
    position: absolute;
    height: 50px;
    width: 50px;
    top: 15%;
    right: 1%;
    border: none;
}

#send-icon {
    color: #002244;
}

#send-btn #send-icon {
    transition: transform 0.3s;
}

#send-btn:hover #send-icon {
    transform: scale(1.5);
}